<form
    #f="ngForm"
    (ngSubmit)="onSubmit(f.value)">
    <div class="form-group">
        <label for="name">Course Name</label>
        <input 
            class="form-control"
            required 
            minlength="3"

            ngModel
            name="name"
            #name="ngModel"

            (change)="name"
            id="name"
            type="text">

        <div 
            *ngIf="name?.touched && name?.invalid"
            class="alert alert-danger">

            <div
                *ngIf="name?.errors?.required">
                Name is required
            </div>

            <div
                *ngIf="name?.errors?.minlength">
                Name required length must be at least {{ name?.errors?.minlength?.requiredLength }} characters in length but actually got {{ name?.errors?.minlength?.actualLength }} characters in length
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Category</label>
        <select
            class="form-control"
            required 

            ngModel
            name="category"
            #category="ngModel"
            (change)="category"
            id="category"
            >
            <option value=""></option>
            <option *ngFor="let c of categories" [value]="c.id">
                {{ c.name }}
            </option>
        </select>

        <div 
            *ngIf="category?.touched && category?.invalid"
            class="alert alert-danger">

            <div
                *ngIf="category?.errors?.required">
                Category is required
            </div>
        </div>
    </div>

    <div class="checkbox">
        <label for="hasMoneyBackGuarantee"></label>
        <input 

            ngModel
            name="hasMoneyBackGuarantee"
            #hasMoneyBackGuarantee="ngModel"

            type="checkbox" 
            id="hasMoneyBackGuarantee">
        &nbsp;
        30 days money back gurantee
    </div>

    <div ngModelGroup="subscriber">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input 
                class="form-control"
                required 
                minlength="3"

                ngModel
                name="firstName"
                #firstName="ngModel"

                (change)="firstName"
                id="firstName"
                type="text">

            <div 
                *ngIf="firstName?.touched && firstName?.invalid"
                class="alert alert-danger">

                <div
                    *ngIf="firstName?.errors?.required">
                    firstName is required
                </div>

                <div
                    *ngIf="firstName?.errors?.minlength">
                    Name required length must be at least {{ firstName?.errors?.minlength?.requiredLength }} characters in length but actually got {{ firstName?.errors?.minlength?.actualLength }} characters in length
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="contact">Contact</label>
            <input 
                class="form-control"
                required 
                minlength="3"

                ngModel
                name="contact"
                #contact="ngModel"

                (change)="contact"
                id="contact"
                type="text">

            <div 
                *ngIf="contact?.touched && contact?.invalid"
                class="alert alert-danger">

                <div
                    *ngIf="contact?.errors?.required">
                    contact is required
                </div>
            </div>
        </div>
    </div>

    <p>
        {{ f.value | json }}
    </p>
    <button 
        [disabled]="f.invalid"

        class="btn btn-primary btn-sm">Create</button>
</form>